<div class="bg-image">
  <nav><div class="topnav">
    <a><span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776;ADMIN DASHBOARD</span></a>
    <a [routerLink]="'ADD/REMOVE-CATEGORY'">ADD/REMOVE CATEGORY</a>
    <a [routerLink]="'ADD/REMOVE-SUBCAT'">ADD/REMOVE SUBCATEGORY</a>
    <div class="search-container">
      <form>
        <button type="submit" (click)="Logout()"><i class="fa fa-sign-out"></i>Logout</button>
      </form>
    </div>
  </div></nav>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a routerLink="/ADMIN"><i class="fa fa-home"></i> DASHBOARD</a>
    <a [routerLink]="'ADD/REMOVE-CATEGORY'"><i class="fa fa-plus-square"></i> Category</a>
  <a [routerLink]="'ADD/REMOVE-SUBCAT'"><i class="fa fa-plus-square"></i> SubCategory</a>
  <a routerLink="/CONTACT"><i class="fa fa-fw fa-envelope"></i>CONTACT</a>
  </div>  
  <footer class="footer">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a routerLink="/HOME"> www.EMART.com</a>
    </div>
  </footer> 
  <router-outlet></router-outlet>
</div>